.CardIcon, .Info{
    background-color:white;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    border-radius: 50%;
    margin-top: 1rem;
}

.Info {
    width: 0.5rem;
    height: 1rem;
    padding: 0rem 1.25rem 1.5rem;
    font-size: 1.75rem;
    position: relative;
    top: -105%;
    left: 82%;
}